.loading-bar, .loading-fill {
    background-color: white;
    border: solid;
    border-color: black;
    border-width: 1px;
    padding: 1px;
}

.loading-bar {
    margin: auto;
}

.loading-fill {
    height: 15px;
    background-color: rgb(71, 71, 71);
}

/* Resizes bootstrap modal to fit screen */
.dynamic-modal {
    min-width: 70vw;
}

.modalContent {
    max-height: 75vh;
    object-fit: contain;
}